<!doctype html>
<html lang= "fr">

    <head>
        <link rel = "stylesheet" type= "text/css" href= "{{ url_for('static', filename='css/main.css') }}">
    </head>

    <body>

        <h1 > Hello les gens ! </h1>
        <h1 > Bienvenue sur la page d'accueil ! </h1>

        <h2>Indiquer votre nom</h2>
        <form action="." method="POST">
            <input type="text" name="text">
            <button type="submit">OK</button>
        </form>

    </body>

    <a href= "{{ url_for('suite') }} "> Cliquer pour continuer </a>

</html>